#app-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.spacer{
    flex: 1;
}
.nav-search {
    margin-bottom: 0;
    margin-right: 30px;
}
.avatar{
    border-radius: 50% !important;
    max-height: 48px !important;
    max-width: 48px !important;
}